html, body {
  font: 14px/1.21 'Fira Sans', 'Geneva', verdana, sans-serif;
	font-weight: 400;
	color: #06c6b9;
	background-color: #090c08;
  margin: 0;
}

header > h1 {
  margin: 0;
  padding-top: 25px;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  padding: 0;
}

.upper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  border: 2px solid rgb(73, 78, 64);
  border-radius: 8px;
  padding: 20px 20px 40px;
  background-color: #121810;
}

@media (max-width: 1000px) {
  .upper {
    flex-direction: column;
  }
}

.lower {
  margin: 50px auto;
  width: 400px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1200px;
}

footer > ul {
  margin-left: 25px;
  padding: 0;
  list-style: none;
}

.element {
  width: 200px;
}

label {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

label.disabled {
	color: #06c6b9;
  color: cadetblue;
}

select, input {
  font-size: 1.25rem;
  width: 100%;
  padding: 5px;
  background-color:rgb(250, 240, 225);
  border-radius: 8px;
}

textarea {
  display: inline-block;
  width: 100%;
  resize: none;
  color: antiquewhite;
  background-color: gray;
  border: 1px solid antiquewhite;
  border-radius: 3px;
  padding: 5px;
}

textarea::placeholder {
  color:antiquewhite;
}

button {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

button:enabled {
  color: aliceblue;
  background-color: #3A94DE;
}

button:disabled {
  background-color: gray;
}

button:hover {
  background-color: #4c9fe4;
}

button:active {
  background-color: #2082d3;
}

button::before {
  position: absolute;
  top: -20px;
  left: 0;
  content: attr(data-message);
  font-size: 1rem;
  white-space: nowrap;
  overflow-x: visible;
  opacity: 0;
}

button.withMessage::before {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

a, div[role=button] {
  margin: 4px;
  color: orchid;
  text-decoration: none;
}

a:hover, div[role=button]:hover {
  color: violet;
}

a:active, div[role=button]:active {
  color:fuchsia;
}

.expander {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.expander::after {
  position: absolute;
  content: '';
  top: 2px;
  bottom: 2px;
  right: -1.25rem;
  width: 0;
  border: 6px solid transparent;
  border-left-color: orchid;
  transform-origin: 3px center;
  transform: rotate(0);
  transition: all 0.5s ease-out;
}

.expander.expanded::after {
  transform: rotate(90deg);
}